<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <IBDownloader.Properties.Settings>
            <setting name="AppColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="AutoUpdateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
        </IBDownloader.Properties.Settings>
    </userSettings>
</configuration>